@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#fullStack, #photo, #design, #contact, #achievements, #cohere {
  text-decoration-skip-ink: none;
}

#wrapper {
  z-index: 1000;
}

.mtl {
  z-index: 0;
}


@media only screen and (min-width: 1024px) {
  #box1 {
    box-shadow: 12px 12px #b9d193;
  }

  #box2 {
    box-shadow: 12px 12px #FACE5D;
  }

  #box3 {
    box-shadow: 12px 12px #B1CAD9;
  }

  #box1:hover, #box2:hover, #box3:hover {
    box-shadow: none;
  }

  #cohereBox:hover {
    box-shadow: 18px 18px #3C1D06;
  }

  #cohereBox {
    transition: 0.5s ease-in-out;
  }
}