@tailwind base;
@tailwind components;
@tailwind utilities;

#fullStack, #webDev, #design, #contact {
  text-decoration-skip-ink: none;
}

@media only screen and (min-width: 1024px) {
  #box1 {
    box-shadow: 12px 12px #B1CAD9;
  }

  #box2 {
    box-shadow: 12px 12px #FACE5D;
  }

  #box3 {
    box-shadow: 12px 12px #b9d193;
  }

  #box1:hover, #box2:hover, #box3:hover {
    box-shadow: none;
  }
}