@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html, body, a, button, input, textarea, select{
  cursor: none !important;
  scroll-behavior: smooth;
}
.cursor-default {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-image: url('/cursor.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  transition: all 0.2s ease;
}

.cursor-hover {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: transparent;
  background-image: none;
  border: 3px solid #88B1CA;
  transition: all 0.2s ease;
}


#fullStack, #photo, #design, #contact, #achievements, #cohere, #growth {
  text-decoration-skip-ink: none;
}

#wrapper {
  z-index: 1000;
}

.mtl {
  z-index: 0;
}

#circles {
  clip-path: inset(0 0 50% 0);
}

.split-word {
  display: inline-block;
  white-space: pre;
  will-change: transform, opacity;
}


@media only screen and (min-width: 1024px) {
  #box1 {
    box-shadow: 12px 12px #B1CAD9;
  }

  #box2 {
    box-shadow: 12px 12px #FACE5D;
  }

  #box3 {
    box-shadow: 12px 12px #b9d193;
  }

  #box1:hover, #box2:hover, #box3:hover {
    box-shadow: none;
  }
}

@media only screen and (min-width: 1600px) {
  #box1 {
    box-shadow: 20px 20px #b9d193;
  }

  #box2 {
    box-shadow: 20px 20px #FACE5D;
  }

  #box3 {
    box-shadow: 20px 20px #B1CAD9;
  }
}